a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/*body {*/
/*    width: 100%;*/
/*}*/

#header {
    height: 15%;
    width: 80%;
    margin: 0 auto;
}

#head_logo {
    height: 100px;
    float: left;
}

#head_right {
    height: 100px;
    float: right;
    color: #666;
    font-size: 15px;
    display: flex;
    align-items: center;
    /* 父类以上两个文本垂直居中 */
    /* line-height: 100px;
    这办法不可i标签和文字居中 */
}

#head_right span {
    margin-right: 15px;
    /* 与i标签的间距 */
}

#head_right i {
    color: tomato;
    font-size: 30px;
}

#main {
    height: 650px;
    width: 100%;
    background-color: rgb(255, 154, 170);
}

#main_center {
    /* 使整个main居中 */
    width: 80%;
    margin: 0 auto;
}

#main_left {
    margin-top: 100px;
    float: left;
    width: 60%;
}

#main_right {
    margin-top: 50px;
    /* margin-right: 10px; */
    float: right;
    width: 35%;
    height: 430px;
    background-color: white;
    border-radius: 5px;
    /* 倒圆角 */
}

.login_head {
    height: 50px;
}

#login_left {
    float: left;
    width: 49.5%;
    font-size: 18px;
    font-weight: bold;
    color: rgb(109, 109, 109);
    text-align: center;
    line-height: 50px;
}

#login_midline {
    float: left;
    height: 20px;
    width: 1px;
    background-color: #666;
    margin-top: 15px;
}

#login_right {
    float: right;
    width: 49.5%;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 0, 122);
    text-align: center;
    line-height: 50px;
}

#login_downline {
    height: 1px;
    width: 100%;
    background-color: #666;
}

#login_form {
    margin: 0 auto;
    width: 80%;
}

#login_form div input {
    /* width: 100%; */
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid;
    height: 40px;
    line-height: 40px;
}

#name {
    background: url(img/user.png) no-repeat;
    background-size: 20px 20px;
    background-position: 10px 10px;
    padding-left: 40px;
    background-color: #fff;
    width: calc(100% - 40px);
    /* calc对百分比和像素之间做运算 */
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #eee;
}

#password {
    background: url(img/password.png) no-repeat;
    background-size: 20px 20px;
    background-position: 10px 10px;
    padding-left: 40px;
    background-color: #fff;
    width: calc(100% - 40px);
    /* calc对百分比和像素之间做运算 */
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #eee;
}

#login_forget {
    height: 50px;
    width: 100%;
    /* margin-top: 20px; */
    font-size: 14px;
    line-height: 50px;
}

#login_forget span a {
    color: #333;
}

#login_button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    background-color: #f10180;
    margin-top: 0px;
    margin-bottom: 30px;
}

#wechat {
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

#login_more {
    height: 22px;
    width: 100%;
    /* margin-bottom: 50px; */
    /* 没有办法将main——right顶到下边 */
}

.login_more_line {
    width: 1px;
    height: 60%;
    background-color: #eee;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 6px;
}

#login_more span a {
    font-size: 14px;
    color: #333;
    line-height: 14px;
}


/* #wechat i {
    text-align: center;
    font-size: 50px;
    width: 60px;
    height: 60px;
    color: white;
    background-color: rgb(0, 231, 111);
    border-radius: 100%;
} */

#footer {
    font-size: 12px;
    height: 75px;
    line-height: 78px;
    /* 行间距曲线救国 */
}

#footer div {
    color: #666;
    text-align: center;
}